<p-table [value]="productList" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Blend Name</th>
      <th>Origin</th>
      <th>Variety</th>
      <th>Notes</th>
      <th>Intensifier</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{product.item}}</td>
      <td>{{product.blend_name}}</td>
      <td>{{product.origin}}</td>
      <td>{{product.variety}}</td>
      <td>{{product.notes}}</td>
      <td>{{product.intensifier}}</td>
    </tr>
  </ng-template>
</p-table>